.burger-button {
  flex-shrink: 0;
  z-index: var(--z-index-1000);
  background-color: var(--color-accent);
  border-radius: 100%;

  @include flex(center, center) {
    flex-direction: column;
    row-gap: 5px;
  }

  @include square(44px);

  &__line {
    width: 19px;
    height: 3px;
    background: var(--color-light);
    border-radius: 5px;
    transition-duration: var(--transition-duration);
    transform-origin: center;
  }

  &.is-active {
    .burger-button__line {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
        @include hide;
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  @include hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }
}
