.field {
  &__input {
    width: 100%;
    height: 61px;
    padding-inline: 16px;
    color: var(--color-grey);
    background-color: var(--color-light-alt4);
    border: var(--border-grey);

    &::placeholder {
      color: currentColor;
    }

    &--even {
      border-radius: var(--border-radius-15) var(--border-radius-15) 0 0;
    }

    &--odd {
      border-radius: 0 0 var(--border-radius-15) var(--border-radius-15);
    }
  }
}
