.header {
  padding-block: 24px;
  color: var(--color-light);
  background-color: var(--color-dark);

  &__inner {
    @include flex(center, space-between) {
      column-gap: var(--default-indent);
    }
  }

  &__navigation {
    @include screen-lg {
      @include flex(center, center);

      position: fixed;
      z-index: var(--z-index-900);
      inset: 0;
      padding: 10px;
      background-color: var(--color-dark);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;

        translate: 0 -100%;
      }
    }
  }

  &__list {
    @include flex(center) {
      column-gap: 32px;
    }

    @include screen-lg {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
    }
  }

  &__button {
    padding-block: 10px;
  }
}
